.skills {
    padding: 2rem;
    text-align: center;
    ul {
      list-style-type: none;
      padding: 0;
      li {
        color: #333;
        margin: 0.5rem 0;
        font-size: 1.2rem;
      }
    }
  }
  